body {
    background-color: lightgray;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

.hint {
    padding: 30px;
}

.grid-container {
    display: grid;
    justify-content: center;
    gap: 30px;


    grid-template-areas: 
        "Grid1 Grid1 Grid2 Grid3"
        "Grid4 Grid4 Grid4 Grid5"
        "Grid6 Grid6 Grid6 Grid6"
        "Grid7 Grid8 Grid9 Grid9";
}


.grid-item {

    border-radius: 5px;
    height: 150px;

    background-color: #f8d86a;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.grid-item:nth-child(1) {
    background-color: #877527;
    grid-area: Grid1;
    width: auto;
}

.grid-item:nth-child(4) {
    background-color: #23567d;
    grid-area: Grid4;
    width: auto;
}

.grid-item:nth-child(6) {
    background-color: #75147c;
    grid-area: Grid6;
    width: auto;
}

.grid-item:nth-child(9) {
    grid-area: Grid9;
    background-color: #82adb7;
    width: auto;
}
