body {
    background-color: lightgray;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

.hint {
    padding: 30px;
}

.grid-container {
    display: grid;
    justify-content: center;
    gap: 30px;


    grid-template-areas: 
        "grid1 grid1 grid2 grid3"
        "grid4 grid4 grid4 grid5"
        "grid6 grid6 grid6 grid6"
        "grid7 grid8 grid9 grid9";
}


.grid-item {

    border-radius: 5px;
    height: 150px;

    background-color: #f8d86a;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}

.grid-item:nth-child(1) {
    background-color: #877527;
    grid-area: grid1;
    width: auto;
}

.grid-item:nth-child(4) {
    background-color: #23567d;
    grid-area: grid4;
    width: auto;
}

.grid-item:nth-child(6) {
    background-color: #75147c;
    grid-area: grid6;
    width: auto;
}

.grid-item:nth-child(9) {
    grid-area: grid9;
    background-color: #82adb7;
    width: auto;
}
